In [5]:
import pandas as pd

from data import OHLCVData

In [2]:
ticker = 'META'

meta = OHLCVData.from_yahoo_finance(ticker = ticker, name = ticker)

In [4]:
close_prices = meta.get_series(column_name='Close')

In [6]:
windowed_data = pd.DataFrame()

window_length = 10

for i in range(1, window_length+1): 

    prev = close_prices.shift(i)
    windowed_data[f'Prev_{i}'] = prev

In [10]:
windowed_data

,Prev_1,Prev_2,Prev_3,Prev_4,Prev_5,Prev_6,Prev_7,Prev_8,Prev_9,Prev_10
Date,,,,,,,,,,
2012-05-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-05-21,38.230000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-05-22,34.029999,38.230000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-05-23,31.000000,34.029999,38.230000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-05-24,32.000000,31.000000,34.029999,38.230000,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2023-07-25,291.609985,294.260010,302.519989,316.010010,312.049988,310.619995,308.869995,313.410004,309.339996,298.290009
2023-07-26,294.470001,291.609985,294.260010,302.519989,316.010010,312.049988,310.619995,308.869995,313.410004,309.339996
2023-07-27,298.570007,294.470001,291.609985,294.260010,302.519989,316.010010,312.049988,310.619995,308.869995,313.410004
2023-07-28,311.709991,298.570007,294.470001,291.609985,294.260010,302.519989,316.010010,312.049988,310.619995,308.869995
2023-07-31,325.480011,311.709991,298.570007,294.470001,291.609985,294.260010,302.519989,316.010010,312.049988,310.619995